# Social Network Analysis

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import networkx as nx
from ast import literal_eval
import re

In [2]:
data = pd.read_csv("./data/tsv/data.tsv", sep="\t")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5428 entries, 0 to 5427
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   content     5395 non-null   object
 1   username    5428 non-null   object
 2   mentioned   5428 non-null   object
 3   rawContent  5428 non-null   object
dtypes: object(4)
memory usage: 169.8+ KB

In [4]:
data['mentioned'] = data['mentioned'].apply(lambda x: literal_eval(x))

In [12]:
G = nx.DiGraph()
nodes = dict()
for interaction in data.iloc:
    for mention in interaction.mentioned:
        source, target = interaction.username, re.sub(r'@', '' ,mention)
        val_source = nodes.get(source, 0)
        val_target = nodes.get(target, 0)
        nodes[source] = val_source+1
        nodes[target] = val_source+1
        if G.has_edge(source, target):
            G[source][target]["weight"] += 1
        else:
            G.add_edge(source, target, weight=1)
edgelist = nx.to_pandas_edgelist(G).sort_values(by="weight", ascending=False, ignore_index=True)

In [15]:
for x in pd.DataFrame(nodes.items()).sort_values(by=1, ascending=False).iloc:
  print(x)

0    tixseoulution
1               55
Name: 799, dtype: object
0    yinyangroom
1             54
Name: 6633, dtype: object
0    pcrkthvv
1          53
Name: 6694, dtype: object
0    notallliyyyo
1              52
Name: 6673, dtype: object
0    dukebeneviento
1                51
Name: 6659, dtype: object
0    sactomine
1           50
Name: 6551, dtype: object
0    nasahoy
1         49
Name: 5672, dtype: object
0    haechanju
1           48
Name: 6464, dtype: object
0    sambataan
1           47
Name: 5739, dtype: object
0    kimIU04
1         46
Name: 6418, dtype: object
0    ya_bentar
1           45
Name: 5239, dtype: object
0    BhagavadRyadi
1               44
Name: 6253, dtype: object
0    llmalpaca
1           43
Name: 5745, dtype: object
0    loonaloveely
1              42
Name: 6216, dtype: object
0    letsbefwend
1             41
Name: 5730, dtype: object
0    jastiparfazah
1               40
Name: 4088, dtype: object
0    __bearvante
1             40
Name: 5681, dtype: object
0    Subur0204
1           40
Name: 2792, dtype: object
0    butikhnw
1          40
Name: 2772, dtype: object
0    nyonyahsyuper
1               39
Name: 2791, dtype: object
0    DRUUlG
1        39
Name: 5793, dtype: object
0    sempaksobex
1             39
Name: 6146, dtype: object
0    dwyndrra
1          38
Name: 6141, dtype: object
0    suneo138
1          38
Name: 2790, dtype: object
0    rchivemoon
1            37
Name: 5770, dtype: object
0    Gank_Of_Petojo
1                37
Name: 2789, dtype: object
0    laliyamanoban
1               37
Name: 6139, dtype: object
0    bebiandra
1           36
Name: 5695, dtype: object
0    lowlokey
1          36
Name: 5769, dtype: object
0    6undul0h
1          36
Name: 2788, dtype: object
0    RagilSemar
1            35
Name: 2787, dtype: object
0    merupalara
1            35
Name: 4584, dtype: object
0    anemoene
1          34
Name: 5759, dtype: object
0    dyahNeZza
1           34
Name: 2786, dtype: object
0    noturpuppets
1              34
Name: 4580, dtype: object
0    ReenTis_
1          33
Name: 2785, dtype: object
0    chhoizone
1           33
Name: 4454, dtype: object
0    hamzahalatas2
1               33
Name: 5754, dtype: object
0    Kakros05
1          32
Name: 5752, dtype: object
0    Gojekmilitan
1              32
Name: 2784, dtype: object
0    tiararhmwnt
1             31
Name: 5748, dtype: object
0    Sean46676879
1              31
Name: 4434, dtype: object
0    vanc1Bozz
1           31
Name: 2783, dtype: object
0    damseletten
1             30
Name: 4411, dtype: object
0    dazzeley
1          28
Name: 3384, dtype: object
0    patndigs
1          27
Name: 3383, dtype: object
0    meoowwng
1          27
Name: 5735, dtype: object
0    cutcutkancut
1              26
Name: 3382, dtype: object
0    nuna_konser
1             25
Name: 3487, dtype: object
0    hyuckbestiee
1              25
Name: 3485, dtype: object
0    txtfromthoughts
1                 25
Name: 3369, dtype: object
0    meemorily
1           25
Name: 5727, dtype: object
0    bro0kline
1           24
Name: 5725, dtype: object
0    kendal_palvin
1               23
Name: 5723, dtype: object
0    komplenmulu
1             22
Name: 2362, dtype: object
0    yujiminn1
1           22
Name: 5714, dtype: object
0    Zahratulhasana6
1                 21
Name: 2381, dtype: object
0    itssecondpluto
1                21
Name: 2992, dtype: object
0    imurbbyygurl
1              21
Name: 5424, dtype: object
0    agtekiw
1         21
Name: 3769, dtype: object
0    sgkye
1       20
Name: 2897, dtype: object
0    hambaprivate
1              20
Name: 5706, dtype: object
0    nasyaElpnt
1            19
Name: 1128, dtype: object
0    jeonghanitae
1              19
Name: 1870, dtype: object
0    secretpemuja1
1               19
Name: 2380, dtype: object
0    RaodaKayana
1             19
Name: 5705, dtype: object
0    icedlattefal
1              18
Name: 5065, dtype: object
0    bulanaprilduarb
1                 18
Name: 1370, dtype: object
0    Drynasse
1          18
Name: 5569, dtype: object
0    akunreligi
1            18
Name: 2379, dtype: object
0    fnfj_
1       18
Name: 4182, dtype: object
0    diallstr_twt
1              18
Name: 1699, dtype: object
0    ginilohpen
1            18
Name: 1727, dtype: object
0    Sobsrocx
1          17
Name: 1716, dtype: object
0    looneylunary
1              17
Name: 1715, dtype: object
0    29O999
1        17
Name: 5696, dtype: object
0    xxrzkll
1         17
Name: 4333, dtype: object
0    aiymasithah
1             16
Name: 6858, dtype: object
0    ayuuuck
1         16
Name: 1549, dtype: object
0    sherlyotavia
1              16
Name: 1151, dtype: object
0    moacartie
1           16
Name: 633, dtype: object
0    GhhopesHi
1           16
Name: 4180, dtype: object
0    bangtanusbhub
1               16
Name: 1981, dtype: object
0    nenkgelice
1            16
Name: 5213, dtype: object
0    stehmaniis
1            16
Name: 4387, dtype: object
0    vliffadam
1           15
Name: 5910, dtype: object
0    bucinJeykey16
1               15
Name: 362, dtype: object
0    jxekissd
1          15
Name: 1003, dtype: object
0    Ashkaathallah
1               15
Name: 1548, dtype: object
0    bubblevpuffie
1               15
Name: 3112, dtype: object
0    easierrrtostay
1                15
Name: 3060, dtype: object
0    runrainn
1          15
Name: 5691, dtype: object
0    the_popbase
1             15
Name: 365, dtype: object
0    awloola
1         15
Name: 1449, dtype: object
0    indriawiradhar1
1                 14
Name: 4207, dtype: object
0    tamagachaa
1            14
Name: 3341, dtype: object
0    fauziyahashifa
1                14
Name: 1536, dtype: object
0    wartiket
1          14
Name: 6537, dtype: object
0    my_dreamhanguk
1                14
Name: 587, dtype: object
0    spicysalm0nmaki
1                 14
Name: 3108, dtype: object
0    ss1819216
1           14
Name: 2021, dtype: object
0    chaddioss
1           14
Name: 6092, dtype: object
0    imamksj
1         14
Name: 364, dtype: object
0    krezzyrinaa
1             14
Name: 783, dtype: object
0    wartiketidofc
1               14
Name: 648, dtype: object
0    exsajapa
1          14
Name: 1700, dtype: object
0    joindong_
1           13
Name: 5012, dtype: object
0    guwmui
1        13
Name: 3495, dtype: object
0    ontamager
1           13
Name: 2020, dtype: object
0    Icloudusky
1            13
Name: 5690, dtype: object
0    Yoonggimin23
1              13
Name: 363, dtype: object
0    garthbrooks
1             13
Name: 355, dtype: object
0    tyycann
1         13
Name: 5675, dtype: object
0    fitarmy7
1          13
Name: 343, dtype: object
0    robbyaansyah23
1                13
Name: 6529, dtype: object
0    thebuzzzsixties
1                 13
Name: 3705, dtype: object
0    ailabyujinjin
1               13
Name: 780, dtype: object
0    izzazhafira
1             13
Name: 1508, dtype: object
0    mxngojuice
1            13
Name: 3083, dtype: object
0    rohitsebastiian
1                 13
Name: 1612, dtype: object
0    luvmatch4
1           12
Name: 5190, dtype: object
0    murniahmadi
1             12
Name: 332, dtype: object
0    riapspth
1          12
Name: 4206, dtype: object
0    Saprol_Dhin
1             12
Name: 1426, dtype: object
0    kurniaoktv
1            12
Name: 5191, dtype: object
0    gunsnroses
1            12
Name: 354, dtype: object
0    lacostearon
1             12
Name: 1439, dtype: object
0    kpoptickets
1             12
Name: 1979, dtype: object
0    iconiclau
1           12
Name: 361, dtype: object
0    092lover
1          12
Name: 5682, dtype: object
0    AciMocca
1          12
Name: 3029, dtype: object
0    Kinanthi99
1            12
Name: 4847, dtype: object
0    partofthisblsht
1                 12
Name: 4730, dtype: object
0    decasick
1          12
Name: 777, dtype: object
0    BicaAsal
1          11
Name: 4313, dtype: object
0    chocoworry
1            11
Name: 1425, dtype: object
0    jijunnnn
1          11
Name: 1292, dtype: object
0    suitpods_
1           11
Name: 1269, dtype: object
0    Rjulinas13
1            11
Name: 402, dtype: object
0    pratamaditt
1             11
Name: 1212, dtype: object
0    damniloveeyou
1               11
Name: 3494, dtype: object
0    isaidyesssss
1              11
Name: 1165, dtype: object
0    moonsiveur
1            11
Name: 3984, dtype: object
0    sunkich
1         11
Name: 3368, dtype: object
0    arifnrokhman
1              11
Name: 86, dtype: object
0    Dianaewt_
1           11
Name: 647, dtype: object
0    luvleypark
1            11
Name: 5515, dtype: object
0    subsatanz
1           11
Name: 2392, dtype: object
0    kimtaehoonie
1              11
Name: 3028, dtype: object
0    daiyantrisha
1              11
Name: 5917, dtype: object
0    idextratime
1             11
Name: 95, dtype: object
0    dieiou
1        10
Name: 3706, dtype: object
0    kauaiioo
1          10
Name: 3027, dtype: object
0    ewropp
1        10
Name: 3525, dtype: object
0    ollaanovela
1             10
Name: 4977, dtype: object
0    Qasrinaa
1          10
Name: 4672, dtype: object
0    alhaqqid
1          10
Name: 2193, dtype: object
0    A_Store9779
1             10
Name: 2782, dtype: object
0    daddy_yankee
1              10
Name: 352, dtype: object
0    adhierio
1          10
Name: 845, dtype: object
0    mediasocialita
1                10
Name: 1682, dtype: object
0    mhsalma_
1          10
Name: 1424, dtype: object
0    Ulyaadee
1          10
Name: 1268, dtype: object
0    _luqmanghaffar
1                10
Name: 5919, dtype: object
0    kulitmekdiii
1              10
Name: 3511, dtype: object
0    PS_AmandaJKT48
1                10
Name: 4226, dtype: object
0    prabowo
1         10
Name: 5231, dtype: object
0    inibenerlann
1              10
Name: 1904, dtype: object
0    hotcoffealatte
1                10
Name: 646, dtype: object
0    Jibol_
1        10
Name: 1903, dtype: object
0    mangyayi
1          10
Name: 1556, dtype: object
0    notdrybread
1             10
Name: 4197, dtype: object
0    TheLaritan
1            10
Name: 5225, dtype: object
0    searchforgold
1                9
Name: 1614, dtype: object
0    gajadinangis
1               9
Name: 3026, dtype: object
0    irmarizz
1           9
Name: 6385, dtype: object
0    itsyourbill
1              9
Name: 4514, dtype: object
0    sweatorsweet
1               9
Name: 1665, dtype: object
0    carameilst
1             9
Name: 1280, dtype: object
0    HaloBCA
1          9
Name: 283, dtype: object
0    mohmahfudmd
1              9
Name: 714, dtype: object
0    Astrobo0y
1            9
Name: 1753, dtype: object
0    ahmadfaauuzan
1                9
Name: 3985, dtype: object
0    Frzadam
1          9
Name: 290, dtype: object
0    dmsmlydxx
1            9
Name: 5983, dtype: object
0    patriawhura
1              9
Name: 707, dtype: object
0    asricahyaning
1                9
Name: 6384, dtype: object
0    orangtinggibgt
1                 9
Name: 4138, dtype: object
0    aniesbaswedan
1                9
Name: 2560, dtype: object
0    nikoygitu
1            9
Name: 2853, dtype: object
0    sijadaeng
1            9
Name: 2257, dtype: object
0    ouraass
1          9
Name: 645, dtype: object
0    yaniarsim
1            9
Name: 2781, dtype: object
0    warlady1992
1              9
Name: 6460, dtype: object
0    Harry_Styles
1               9
Name: 351, dtype: object
0    divardha
1           9
Name: 1663, dtype: object
0    GetjzebulonXXIV
1                  9
Name: 3668, dtype: object
0    jajajackman_
1               9
Name: 5918, dtype: object
0    skkngwr_
1           9
Name: 1249, dtype: object
0    dump0st
1          9
Name: 3982, dtype: object
0    honeysnowie
1              9
Name: 3265, dtype: object
0    urmoonn
1          9
Name: 6695, dtype: object
0    ThvRmcan
1           9
Name: 5035, dtype: object
0    naya_fai
1           9
Name: 1164, dtype: object
0    haaffiidzz
1             9
Name: 6080, dtype: object
0    Andre_rizqi
1              9
Name: 2012, dtype: object
0    GoodLifeBCA
1              9
Name: 5053, dtype: object
0    annisaaprilia30
1                  9
Name: 1971, dtype: object
0    dsior
1        9
Name: 6051, dtype: object
0    itsmemizuka
1              9
Name: 965, dtype: object
0    pelangibalik
1               9
Name: 3493, dtype: object
0    d4rkch0colate
1                9
Name: 6134, dtype: object
0    funkizeu
1           8
Name: 433, dtype: object
0    tupaivv
1          8
Name: 6339, dtype: object
0    one_ted
1          8
Name: 4821, dtype: object
0    ciummatahari
1               8
Name: 3308, dtype: object
0    bintangfathan_
1                 8
Name: 5410, dtype: object
0    arwidodo
1           8
Name: 2780, dtype: object
0    bodo0amat
1            8
Name: 3310, dtype: object
0    rumputneon_ina
1                 8
Name: 6196, dtype: object
0    Slixe_13
1           8
Name: 4209, dtype: object
0    yosuadarvino
1               8
Name: 1941, dtype: object
0    SyahmieRadzi
1               8
Name: 1776, dtype: object
0    babyttubinie
1               8
Name: 3405, dtype: object
0    darisebijikurma
1                  8
Name: 5064, dtype: object
0    cinepolisID
1              8
Name: 329, dtype: object
0    ifeelsg00d
1             8
Name: 3274, dtype: object
0    picikangjeruk
1                8
Name: 3879, dtype: object
0    mnnopa
1         8
Name: 5359, dtype: object
0    yoonogiri
1            8
Name: 3880, dtype: object
0    wisnukunt
1            8
Name: 5782, dtype: object
0    finyjr
1         8
Name: 8, dtype: object
0    j_realdouble
1               8
Name: 4034, dtype: object
0    bokubene
1           8
Name: 588, dtype: object
0    herjunxt
1           8
Name: 5854, dtype: object
0    mautapiragu
1              8
Name: 5855, dtype: object
0    rose_clrd_boy
1                8
Name: 3992, dtype: object
0    prasetiyoan
1              8
Name: 3991, dtype: object
0    masihnyimak
1              8
Name: 1655, dtype: object
0    RSprachrohr
1              8
Name: 350, dtype: object
0    nliaffxxt
1            8
Name: 4758, dtype: object
0    borabie27
1            8
Name: 5541, dtype: object
0    ____ayyu
1           8
Name: 6779, dtype: object
0    4nn0dd
1         8
Name: 4481, dtype: object
0    syahmi26
1           8
Name: 552, dtype: object
0    odyprtma
1           8
Name: 6015, dtype: object
0    lidicaine
1            8
Name: 1285, dtype: object
0    woofyouu
1           8
Name: 1996, dtype: object
0    saturatedclaim
1                 8
Name: 1741, dtype: object
0    Oldestale
1            8
Name: 3030, dtype: object
0    satyadharmaptr
1                 8
Name: 5590, dtype: object
0    jaijoinu
1           8
Name: 4548, dtype: object
0    amaziaptr
1            8
Name: 1270, dtype: object
0    ganjarpranowo
1                8
Name: 96, dtype: object
0    ErsyachIrSun
1               8
Name: 5985, dtype: object
0    RBW_rargaku
1              8
Name: 5986, dtype: object
0    As956
1        8
Name: 4629, dtype: object
0    zulalif99
1            8
Name: 1820, dtype: object
0    gadisoengoe
1              8
Name: 87, dtype: object
0    _noedels
1           8
Name: 551, dtype: object
0    warih
1        8
Name: 2854, dtype: object
0    narasitv
1           8
Name: 234, dtype: object
0    retrockstar
1              8
Name: 6813, dtype: object
0    howardxpotts
1               8
Name: 3025, dtype: object
0    asasyaa
1          8
Name: 4799, dtype: object
0    gagituraiii
1              8
Name: 730, dtype: object
0    putrisarahd
1              8
Name: 5443, dtype: object
0    KemenBUMN
1            8
Name: 713, dtype: object
0    eaiuiiaoa
1            7
Name: 1001, dtype: object
0    zegh44
1         7
Name: 4674, dtype: object
0    ssangminn_
1             7
Name: 5777, dtype: object
0    luvonthefloorx
1                 7
Name: 4667, dtype: object
0    cakwemania
1             7
Name: 731, dtype: object
0    endaaRN
1          7
Name: 757, dtype: object
0    Taevii4
1          7
Name: 4666, dtype: object
0    sleekplane
1             7
Name: 3989, dtype: object
0    imcowplant
1             7
Name: 5206, dtype: object
0    futheeee
1           7
Name: 1203, dtype: object
0    eltonofficial
1                7
Name: 349, dtype: object
0    PDemokrat
1            7
Name: 5230, dtype: object
0    rethayee
1           7
Name: 1234, dtype: object
0    harykopter
1             7
Name: 5369, dtype: object
0    IndiHomeCare
1               7
Name: 712, dtype: object
0    SuciAnggraeyni
1                 7
Name: 644, dtype: object
0    Borahaeso0
1             7
Name: 5929, dtype: object
0    CGV_ID
1         7
Name: 328, dtype: object
0    bluesidesell
1               7
Name: 4383, dtype: object
0    sonheungmn
1             7
Name: 4964, dtype: object
0    kodelineee
1             7
Name: 4763, dtype: object
0    Adybb__
1          7
Name: 5916, dtype: object
0    tawakkaI
1           7
Name: 450, dtype: object
0    RosesAreKookie
1                 7
Name: 5442, dtype: object
0    xrosse_
1          7
Name: 3492, dtype: object
0    neomujeowa
1             7
Name: 3339, dtype: object
0    hkml07_
1          7
Name: 75, dtype: object
0    minaldudul
1             7
Name: 3024, dtype: object
0    aphrooodite___
1                 7
Name: 1656, dtype: object
0    miloknight77
1               7
Name: 91, dtype: object
0    ab_biki
1          7
Name: 2150, dtype: object
0    enank_suryadi
1                7
Name: 2147, dtype: object
0    idioticstupidt
1                 7
Name: 2111, dtype: object
0    ivlcecy
1          7
Name: 3261, dtype: object
0    crysstalitas
1               7
Name: 3273, dtype: object
0    KunahaChannel
1                7
Name: 1676, dtype: object
0    pptryyn
1          7
Name: 3340, dtype: object
0    amandachita
1              7
Name: 1687, dtype: object
0    vicofewiandika
1                 7
Name: 1695, dtype: object
0    irbefida
1           7
Name: 3355, dtype: object
0    ggorgeousppl
1               7
Name: 1997, dtype: object
0    alienradiofm
1               7
Name: 138, dtype: object
0    0xLexa
1         7
Name: 3766, dtype: object
0    wineony
1          7
Name: 3764, dtype: object
0    campaignmyself
1                 7
Name: 6676, dtype: object
0    convomfs
1           7
Name: 226, dtype: object
0    zorayafz
1           7
Name: 3392, dtype: object
0    dwaifuku
1           7
Name: 1731, dtype: object
0    taekoogaylaxy
1                7
Name: 3476, dtype: object
0    ljenowner
1            7
Name: 3503, dtype: object
0    o9cart
1         7
Name: 3504, dtype: object
0    sillymaryn
1             7
Name: 3507, dtype: object
0    akubudreg
1            7
Name: 3704, dtype: object
0    nxxdslenia
1             7
Name: 1781, dtype: object
0    dek_atha
1           7
Name: 1638, dtype: object
0    raintopiasong
1                7
Name: 1797, dtype: object
0    ikasantoso
1             7
Name: 1602, dtype: object
0    skzbar
1         7
Name: 6812, dtype: object
0    iluckywincityx
1                 7
Name: 2616, dtype: object
0    anggaimaginer
1                7
Name: 2363, dtype: object
0    clxirejoan
1             7
Name: 3920, dtype: object
0    B_nin927
1           7
Name: 2779, dtype: object
0    ryobajuri
1            7
Name: 2852, dtype: object
0    yagaadaapapun
1                7
Name: 2227, dtype: object
0    thisismesisters
1                  7
Name: 1624, dtype: object
0    verysleepy___
1                7
Name: 2625, dtype: object
0    bekstreettt
1              7
Name: 5, dtype: object
0    ColdplayCorner
1                 6
Name: 4737, dtype: object
0    attarsyahhh_
1               6
Name: 2365, dtype: object
0    bakhrifadil
1              6
Name: 1976, dtype: object
0    khairinca
1            6
Name: 5160, dtype: object
0    mayell__
1           6
Name: 4684, dtype: object
0    kicauaniki
1             6
Name: 1014, dtype: object
0    nciNINGIE
1            6
Name: 16, dtype: object
0    gyunyinkim
1             6
Name: 3406, dtype: object
0    zoryrrahy
1            6
Name: 5036, dtype: object