# Social Network Analysis

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import networkx as nx
from ast import literal_eval
import re

In [10]:
data = pd.read_csv("./data/tsv/data.tsv", sep="\t")

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5428 entries, 0 to 5427
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   content    5428 non-null   object
 1   username   5428 non-null   object
 2   mentioned  5428 non-null   object
dtypes: object(3)
memory usage: 127.3+ KB

In [12]:
data['mentioned'] = data['mentioned'].apply(lambda x: [re.sub(r'@', '', x) for x in list(literal_eval(x))])

In [13]:
data[['username', 'mentioned']]

           username                         mentioned
0          LSuroyaa                     [woootamelon]
1     COMRADE_SOLAR              [jn_jiu, mistamosby]
2       bekstreettt                        [coldplay]
3      SeleccionINA              [coldplay, coldplay]
4            finyjr       [IDWantsColdplay, coldplay]
...             ...                               ...
5423       perdott_                          [0tk0il]
5424   Ruangtummbuh                  [kegblgnunfaedh]
5425    titislukita                          [yfurip]
5426     Dwiky_Alfi                          [0tk0il]
5427        yuhuaha  [ILHAM_AVEIRO1, vanry12, 0tk0il]

[5428 rows x 2 columns]

In [18]:
G = nx.DiGraph()
nodes = dict()
for interaction in data.iloc:
    for mention in interaction.mentioned:
        source, target = interaction.username, mention
        val_source = nodes.get(source, 0)
        val_target = nodes.get(target, 0)
        nodes[source] = val_source+1
        nodes[target] = val_source+1
        if G.has_edge(source, target):
            G[source][target]["weight"] += 1
        else:
            G.add_edge(source, target, weight=1)
edgelist = nx.to_pandas_edgelist(G).sort_values(by="weight", ascending=False, ignore_index=True)

In [27]:
sum(nx.centrality.degree_centrality(G).values())

2.1632302405498223